.virus-page{

    min-height:100vh;
    padding:40px;
    text-align:center;

    background:
    linear-gradient(
        135deg,
        #b7f8ff,
        #ffffff
    );

}


.definition-card{

    background:white;
    padding:25px;
    margin:25px auto;
    width:70%;

    border-radius:25px;

    box-shadow:0 8px 20px gray;

}



.disease-container{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;

}


.disease-card{

    width:260px;

    background:white;

    padding:20px;

    border-radius:20px;

    box-shadow:0 5px 15px gray;

    transition:0.3s;

}


.disease-card:hover{

    transform:translateY(-10px);

}


h1{

    color:#005f73;

}


h2{

    color:#0a9396;

}


h3{

    color:#ee6c4d;

}


li{

    text-align:left;

}